<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand nav navbar-nav navbar-left" href="#">Tweets</a>-->
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <%= form_tag(tweets_path, method: :get) do %>
      <ul class="navbar-brand nav navbar-nav navbar-left">
        <li><%= link_to 'Home', root_path %></li>
        <% if current_user %>
            <li><a>Signed in as <%= current_user.name %></a></li>
            <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
        <% else %>
            <li><%= link_to "Sign in with Twitter", "/auth/twitter" %></li>
        <% end %>
      </ul>
      <ul class="navbar-brand nav navbar-nav navbar-right">
        <% if current_user %>
        <li><%= text_field_tag :term, params[:term], :class => "search_box", placeholder: "Search Tweets By User" %></li>
        <li><%= submit_tag 'Search', name: nil, :class => "button"  %></li>
            <%end%>
      </ul>
      <% end %>
    </div>
  </div>
</nav>